.characterContainer {
    height: 100%;
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #F0EFEF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.intel {
    height: 14%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
}

.stats {
    height: 19%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
}

.caracs {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin: 2%
}

.rowCaracs {
    height: 50%;
    width: 100%;
    translate: -5% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2%
}

.combo {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}