.itemImage{
    width: 225px;
    height: 300px;
    margin-top : 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border : 2px solid #000;
    border-radius: 15px;
}

.itemSize {
    font-size: 150px;
}

.itemBottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10%;
    border-top: 2px solid #000;
    /* background-color: #000; */
    height: 119px;
    width: 95%; /* on prend 100% de la largeur*/
}

.itemName {
    /* border: #01a571; */
    color: #A50104;
    text-align: center;
}

.itemButtons {
    display: flex;
    justify-content: space-evenly;
}