.notificationContainer {
    min-height: 100px;
    width: 280px;
    background-color: #FCD757;
    border-top: 2px solid #A50104;
    border-bottom: 2px solid #A50104;
}

.title {
    height: 100;
    margin: 0;
    padding: 2.5px 5px;
}

.content {
    margin: 0;
    padding: 2.5px 5px;
}