.taskContainer {
    background-color: #fcd757;
    position: relative;
    min-width: 600px;
    height: 70px;
    border-radius: 20px;
    border: #a50104 1.5px solid;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    padding: 0px 10px;
}
