.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    height: 70px;
    gap: 10px;
    width: 100%;
    background-color: white;
    box-shadow: (0, 0, 0, 0.25) 4px 4px 4px 0px;
    margin-bottom: 10px;
}
