.container {
    background-color: #f0efef;
    max-width: 750px;
    min-width: 350px;
    max-height: 480px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-top: 20px;
}
