.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divBottom {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.divInventory {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 80%;
    width: 30%;
    overflow-y: auto;
}

.inventoryTitle {

    width: 90%;
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;

}

.stuff {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.itemSelectionShop {
    height: 100%;
    width: 60%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 742px;
    height: 625px;
    gap: 25px;
    overflow-y: auto;
}