
.container {
    /* border : 5px solid #642181; */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.divShopButton {
    display: flex;
    justify-content: center;
    width: 100%;/*Pour prendre 100% de la largeur*/
}

.shopButton {
    width: 100%;
    max-width: 763px;
    height: 82px;
    font-size: 36px;
    color: #FCD757;
    font-family: "Fondamento";
    background-color: #A50104;
    border-radius: 20px;
    border: 1.5px;
    margin-top: 5%;
}

.divBottom { 
    display: flex; /*pour aligner les enfants à l'horizontal*/
    flex-direction: row; /*pour aligner divInventory et itemSelectionShop sur la même ligne*/
    width: 100%;
}

.divInventory {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 30%;
    margin-top: 30px;
    gap: 15px;
}

.inventoryButton {
    width: 326px;
    height: 47px;
    border-radius: 20px;
    border: 1.5px;
    font-size: 30px;
    color: #FCD757;
    font-family: "Fondamento";
    background-color: #A50104;
}

.inventoryContain{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.itemSelectionShop {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 742px;
    height: 625px;
    gap: 25px;
    /* border : solid 3px #01a571; */
    flex: 1; /*Prend tout l'espace dispo à droite*/
    overflow-y: auto;
}

